@using Linguard.Core.Models
@using Linguard.Core.Models.Wireguard
@using Linguard.Web.Utils
@using ByteSizeLib
@using Linguard.Core.Configuration
@using Linguard.Core.Managers
@using Linguard.Core.Services

<div class="row">
    <!-- Real time -->
    <div class="col-md-6 mt-2">
        <RadzenCard>
            <h3>Real time</h3>
            @if (_realTimeTraffic == default || _realTimeChartData.All(d => d.Value == default)) {
                <p>There is no data yet.</p>
            }
            else {
                <RadzenChart>
                    <RadzenDonutSeries Data="@_realTimeChartData"
                                       CategoryProperty="Key" ValueProperty="Value.Bytes">
                        <TooltipTemplate Context="data">
                            <strong>@data.ToString()</strong>
                        </TooltipTemplate>
                    </RadzenDonutSeries>
                </RadzenChart>
            }
        </RadzenCard>
    </div>
    <!-- History -->
    <div class="col-md-6 mt-2">
        <RadzenCard>
            <h3>History</h3>
            @if (!Configuration.Traffic.Enabled) {
                <p>
                    It looks like traffic data storage is disabled.
                    <a href="/settings">Enable it</a> to get more statistics.
                </p>
                return;
            }
            <!-- TODO -->
            <RadzenChart>
                <RadzenAreaSeries Smooth="true" CategoryProperty="DateTime" Title="Transmitted" 
                                  ValueProperty="Value.Bytes" RenderingOrder="1"
                                  Data="@(_historyTraffic
                                            .Select(t => new ChartTrafficData {
                                                Key = "Transmitted", Value = t.SentData, DateTime = t.TimeStamp
                                            }))">
                    <TooltipTemplate Context="data">
                        <strong>@($"{data.Key}: {data.Value.Format()}")</strong>
                        <br/>
                        <em>@($"{data.DateTime:G}")</em>
                    </TooltipTemplate>
                </RadzenAreaSeries>
                <RadzenAreaSeries Smooth="true" CategoryProperty="DateTime" Title="Received"
                                  ValueProperty="Value.Bytes" RenderingOrder="1"
                                  Data="@(_historyTraffic
                                            .Select(t => new ChartTrafficData {
                                                Key = "Received", Value = t.ReceivedData, DateTime = t.TimeStamp 
                                            }))">
                    <TooltipTemplate Context="data">
                        <strong>@($"{data.Key}: {data.Value.Format()}")</strong>
                        <br/>
                        <em>@($"{data.DateTime:G}")</em>
                    </TooltipTemplate>
                </RadzenAreaSeries>
                <RadzenCategoryAxis Padding="20" FormatString="{0:MMM}" />
                @*<RadzenValueAxis Formatter="@FormatAsUSD">
                    <RadzenGridLines Visible="true" />
                    <RadzenAxisTitle Text="Revenue in USD" />
                </RadzenValueAxis>*@
            </RadzenChart>
            @*<p>There is no data yet.</p>*@
        </RadzenCard>
    </div>
</div>

@inject IConfigurationManager _configurationManager
@inject IWireguardService _wireguardService
@inject ITrafficStorageService _storageService

@code {
    IConfiguration Configuration => _configurationManager.Configuration;
    
    [Parameter]
    public IWireguardPeer Peer { get; set; }

    ITrafficData? _realTimeTraffic;
    IEnumerable<ITrafficData> _historyTraffic;

    IEnumerable<ChartTrafficData> _realTimeChartData => new List<ChartTrafficData> {
        new() {
            Key = "Received",
            Value = _realTimeTraffic?.ReceivedData ?? ByteSize.FromBytes(0)
        },
        new() {
            Key = "Transmitted",
            Value = _realTimeTraffic?.SentData ?? ByteSize.FromBytes(0)
        }
    };

    protected override void OnInitialized() {
        base.OnInitialized();
        _realTimeTraffic = GetRealTimeTraffic();
        _historyTraffic = _storageService.LoadData()
            .Where(d => d.Peer.Equals(Peer));
    }

    private TrafficData? GetRealTimeTraffic() {
        switch (Peer) {
            case Client client:
                return _wireguardService.GetTrafficData(client);
            case Interface iface:
                return _wireguardService.GetTrafficData(iface).SingleOrDefault(e => e.Peer is Interface);
            default:
                throw new NotSupportedException($"Peer type not supported: {Peer.GetType()}");
        }
    }

}